
body {
    position: relative;
}

header#hero {
    background-image: 
        linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7)),
        url("img/hero.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 20%;
    color: white; 
    text-align: center;
}

.anything-possible-design {
    text-align: center;
    padding-top: 25px;
}

section {
    text-align: center;
}

.home-intro {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px;
}

p {
    font-size: 16px;
    line-height: 1.63;
    margin: 0 0 2rem;
}

.home-header {
    font-size: 50px;
    margin-top: -13px;
    text-transform: uppercase;
}

.home-header + p {
    text-transform: uppercase;
}

.badge-squares {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 90px;
}
.badge-squares a div {
    display: flex;
    height: 245px;
    width: 330px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    margin: 15px;
    position: relative;
}

.bio-intro {
    padding-bottom: 20px;
}

.home-bio {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    text-align: left;
    margin-bottom: 92px;
}

.health-logo {
    justify-content: center;
    text-align: center;
    font-size: 35px;
}

.section.home-events {
    background-color: green;
    padding: 90px 0 45px;
}

.event-intro {
    margin-bottom: 40px;
}

.event-date {
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
}

.event.date p {
    font-size: 28px;
}
.event-date p.month {
    margin-bottom: 5px;
}

.event-image {
    min-height: 325px;
    background-position: center;
    background-size: cover;
}

.event-info {
    text-align: left;
    padding: 25px;
}

h5.event-title {
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: -5px;
}

.event-dates {
    color: green;
    font-size: 18px;
}

.btn {
    background-color: green;
    color: #f7f7f7;
    padding: 12px 25px;
}

.home-bottom {
    padding-top: 90px;
}

.media-image {
    min-height: 200px;
    max-width: 200px;
    background-position: center;
    background-size: cover;
    margin: 10px;
}

.media {
    justify-content: center;
    display: flex;
    align-items: center;
}

/* .testimonal-pic {
	max-width: 100%;
}

.home-testimonal {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.section-title {
	font-size: 28px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: 400;
	display: inline-block;
	position: relative;
}
.section-title:after,
.section-title:before {
	content: "";
	position: absolute;
	bottom: 0;
}
.section-title:after {
	height: 2px;
	background-color: rgba(252, 92, 15, 0.46);
	left: 25%;
	right: 25%;
}

.section-title:before {
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	background-color: #fc5c0f;
	left: 50%;
	transform: translatex(-50%);
	bottom: -6px;
	z-index: 9;
	border-radius: 50%;
}

.customer-feedback .owl-item img {
	width: 85px;
	height: 85px;
}

.feedback-slider-item {
	position: relative;
	padding: 60px;
	margin-top: -40px;
}

.customer-name {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 500;
}

.feedback-slider-item p {
	line-height: 1.875;
}

.customer-rating {
	background-color: #eee;
	border: 3px solid #fff;
	color: rgba(1, 1, 1, 0.702);
	font-weight: 700;
	border-radius: 50%;
	position: absolute;
	width: 47px;
	height: 47px;
	line-height: 44px;
	font-size: 15px;
	right: 0;
	top: 77px;
	text-indent: -3px;
}

.thumb-prev .customer-rating {
	top: -20px;
	left: 0;
	right: auto;
}

.thumb-next .customer-rating {
	top: -20px;
	right: 0;
}

.customer-rating i {
	color: rgb(251, 90, 13);
	position: absolute;
	top: 10px;
	right: 5px;
	font-weight: 600;
	font-size: 12px;
}

.feedback-slider-item:after {
	content: "";
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	top: 103px;
	background-color: #f6f6f6;
	border: 1px solid rgba(251, 90, 13, 0.1);
	border-radius: 10px;
	z-index: -1;
}

.thumb-prev,
.thumb-next {
	position: absolute;
	z-index: 99;
	top: 45%;
	width: 98px;
	height: 98px;
	left: -90px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.thumb-next {
	left: auto;
	right: -90px;
}

.feedback-slider-thumb img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.feedback-slider-thumb:hover {
	opacity: 0.8;
}

.customer-feedback .owl-nav [class*="owl-"] {
	position: relative;
	display: inline-block;
	bottom: 45px;
	transition: all 0.2s ease-in;
}

.customer-feedback .owl-nav i {
	background-color: transparent;
	color: rgb(251, 90, 13);
	font-size: 25px;
}

.customer-feedback .owl-prev {
	left: -15px;
}

.customer-feedback .owl-prev:hover {
	left: -20px;
}

.customer-feedback .owl-next {
	right: -15px;
}

.customer-feedback .owl-next:hover {
	right: -20px;
}

.customer-feedback .owl-dots {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 35px;
}
.customer-feedback .owl-dot {
	display: inline-block;
}

.customer-feedback .owl-dots .owl-dot span {
	width: 11px;
	height: 11px;
	margin: 0 5px;
	background: #fff;
	border: 1px solid rgb(251, 90, 13);
	display: block;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	border-radius: 50%;
}

.customer-feedback .owl-dots .owl-dot.active span {
	background-color: rgb(251, 90, 13);
}

@media screen and (max-width: 767px) {
	.feedback-slider-item:after {
		left: 30px;
		right: 30px;
	}
	.customer-feedback .owl-nav [class*="owl-"] {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 45px;
		bottom: auto;
	}
	.customer-feedback .owl-prev {
		left: 0;
	}
	.customer-feedback .owl-next {
		right: 0;
	}
} */