
body {
    position: relative;
}

header#hero {
    background-image: 
        linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7)),
        url("img/hero.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 20%;
    color: white; 
    text-align: center;
}

.anything-possible-design {
    text-align: center;
    padding-top: 25px;
}

section {
    text-align: center;
}

.home-intro {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px;
}

p {
    font-size: 16px;
    line-height: 1.63;
    margin: 0 0 2rem;
}

.home-header {
    font-size: 50px;
    margin-top: -13px;
}

.home-header + p {
    text-transform: uppercase;
}

.badge-squares {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 90px;
}
.badge-squares a div {
    display: flex;
    height: 245px;
    width: 330px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    margin: 15px;
    position: relative;
}

.bio-intro {
    padding-bottom: 20px;
}

.home-bio {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    text-align: left;
    margin-bottom: 92px;
}

.health-logo {
    justify-content: center;
    text-align: center;
    font-size: 35px;
}

section.home-testominals {
    background-color: #00FF00;
    background-size: cover;
    padding-top: 90px;
    text-align: left;
}

.testimonals-intro {
    text-align: center;
}

#home-testimonal-slider {
    min-height: 500px;
    overflow: visible !important;

}
.testimonal-controls {
    padding-bottom: 60px;
}

.testimonal-inner {
    margin: 0 auto;
    text-align: center;
}